h1{
    text-align: center;
}
p{
    font-size: medium;
}
body {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
        url("/images/tlo.jpg");
    background-size: cover;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
header{
    background: linear-gradient(to right, rgba(35, 45, 72, 0.65), rgba(35, 45, 72, 0.65));
    color: #A9A9A9;
}
nav{
    background: linear-gradient(to bottom, rgba(35, 45, 72, 0.65), rgba(35, 45, 72, 0.65));
    color: #A9A9A9;
}
main{
    background: linear-gradient(to bottom, rgba(35, 45, 72, 0.65), rgba(35, 45, 72, 0.65));
    color: #A9A9A9;
}
footer{
    background: linear-gradient(to bottom, rgba(40, 40, 43, 0.7), rgba(40, 40, 43, 0.7));
    color: #A9A9A9;
}
.podpis_transparent{
    text-align:center;
    font-style: italic;
    margin-top: 5px;
    font-size: 0.9em;
    color: #A9A9A9;
}
.cytat{
    font-style: italic;
}





.kontener-maly-prawy {
    float: right;
    overflow: hidden;
    width: 400px;
    height: 400px;
    margin-right: 20px;
    border-radius: 10px;
    background-color:rgba(29, 29, 31, 0.8);
    
}

.zdjecie-male {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 10px;;
}

.zdjecie-male:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.kontener-duzy {
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}
.zdjecie-duze {
    max-width: 90%;
    max-height: 90vh;
    box-shadow: 0 0 20px black;
}


.hovertx{
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.hoverimg{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10;
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
    border-radius: 8px;
}

.hoverimg img{
    width: 200px;
    height: auto;
    border-radius: 8px;
}
