.kontener-maly-leszy
{
    float: right;
    width: 300px;
    height: 200px;
    margin-right: 20px;
    border-radius: 10px;
}
.ograniczenie
{
    overflow: hidden;
    border-radius: 10px;
}
.zdjecie-male
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}
.zdjecie-male:hover
{
    transform: scale(1.05);
    cursor: pointer;
}

.kontener-duzy
{
    display: flex;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0;
    align-items: center;
    justify-content: center;
}
.kontener-duzy .ograniczenie
{
    border-radius: 0;
}
.zdjecie-duze 
{
    min-width: 20vw;
    max-width: 30vw;
    background-color: #000000;
} 
.kontener-maly-utopiec
{
    float: right;
    width: 300px;
    margin-right: 20px;
    border-radius: 10px;
}
.kontener-maly-babawodna
{
    float: right;
    width: 300px;
    margin-right: 20px;
    border-radius: 10px;
}
.kontener-maly-kp
{
    float: right;
    width: 200px;
    margin-right: 20px;
    border-radius: 10px;
}
.kontener-maly-dg
{
    float: right;
    width: 500px;
    margin-right: 20px;
    border-radius: 10px;
}
.zdjecie-duze-dg, .zdjecie-duze-dg2
{
    min-width: 40vw;
    max-width: 50vw;
    background-color: #000000;
} 

.kontener-maly-dg2
{
    margin:auto;
    width: 500px;
    height: 400px;
    border-radius: 10px;
}
#slider {
    display: flex;
    place-items: center; 
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    margin: 0;
}

#slide {
    width: 60%;
    height: auto;
    display: block;
    border: 3px solid black; 
}
#nawigacja{
    display: grid;
    grid-auto-flow: column;
    gap:10px;
}
#nawigacja button {
    padding: 8px 12px;
    font-size: 1.2rem;
    cursor: pointer;
}
#slider {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 0;
}
#slide {
    width: 20%;
    height: auto;
    display: block;
    border: 3px solid black; 
    margin-bottom: 10px;
}

#podpis-slider {
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
#nawigacja{
    display: grid;
    grid-auto-flow: column;
    gap:10px;
}
#nawigacja button {
    padding: 8px 12px;
    font-size: 1.2rem;
    cursor: pointer;
}
#slideract
{
    cursor: pointer;
}
.spoiler 
{
    background-color: #202225;
    color: #202225;
    cursor: pointer;
    transition: color 0.3s ease;
    padding: 2px 4px;
    border-radius: 3px;
}
.spoiler.revealed 
{
    color: #dcddde;
    background-color: #36393f;
}
body.darkmode .spoiler.revealed
{
    color: #9e9e9e;
}
@media (max-width: 1400px)
{
    main
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main > *
    {
        width: 100%;
    }
    .kontener-maly-leszy
    {
        float: none;
        margin: auto;
    }
    .zdjecie-duze 
    {
        min-width: 40vw;
        max-width: 50vw;
        background-color: #000000;
    } 
    .kontener-maly-dg, .kontener-maly-dg2
    {
        width: 70%;
    }
    .zdjecie-duze-dg, .zdjecie-duze-dg2
    {
        min-width: 70vw;
        max-width: 80vw;
    }
    #slide
    {
        width: 40%;
    }
}
